 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* body {
    background-image: url('asset/Background.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 963px;
} */



.navbar{
    font-family: 'Inter', sans-serif;
    background-image: url('asset/Background.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.navbar-brand{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navbar-nav{
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.btn {
    font-size: 16px;
    font-weight: 500;
}

.hero {
    position: relative;
    padding-top: 56px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: url('asset/Background.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: -1;
}


.hero_title{
    font-size: 64px;
    font-weight: 600;
    color: white;
}

.hero_description{
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.hero .btn{
    font-size: 16px;
    font-weight: 400;
}

.hero_image img {
    height: 759px;
    width: 100%;
  }


  .logo {
    padding: 80px 0;
}

.logo img {
    max-width: 100%;
    height: auto;
}
