 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

.navbar{
    font-family: 'Inter', sans-serif;
    background-image: url('asset/Background.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.navbar-brand{
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-top: 16px;

}

.navbar-nav{
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin-top: 16px;
}

.button-hero {
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: #0071FF;
    border-radius: 10px;
    padding: 12px 32px;
    margin-top: 16px;
    border: none;
    transition: 0.3s;

}

.hero {
    position: relative;
    padding-top: 56px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: url('asset/Background.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: -1;
}


.hero_title{
    font-size: 64px;
    font-weight: 600;
    color: white;
}

.hero_description{
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.hero .btn{
    font-size: 16px;
    font-weight: 400;
}

.hero_image img {
    height: 759px;
    width: 100%;
  }


  .logo {
    padding: 80px 0;
}

.logo img {
    max-width: 100%;
    height: auto;
}


.title-card{
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

.card-why-choose{
    border-radius: 20px;
    padding: 32px 24px;
}

.card-why-choose:hover{
    box-shadow: 0 0 20px 0 rgba(0, 111, 255, 0.2);
    transition: 0.3s;
}

.card-title{
    font-size: 24px;
    font-weight: 700;
    margin-top: 24px;
}

.card-text{
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0;
    color: #7D7D7D;
}

.feature{
    margin: 80px 0;
}

.feature-text{
    margin: 0 32px;
}

.feature-text h2{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

.feature-text p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
    color: #7D7D7D;
}

.feature-image img{
    height: 610px;
    width: 100%;
}

.portfolio{
    margin: 80px 0;
    background-image: url('asset/Union.png');
    background-color: #151515;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}

.portfolio h2{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
    color: white;
}

.portfolio p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48gtpx;
    color: white;
}

.portfolio .card{
    margin-bottom: 24px;
    background-color: transparent
}


.card-portfolio{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 16px;
    color: #ffffff;
}

.description-portfolio{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    color: #7D7D7D;
}

.testimonial{
    margin: 80px 0;
}

.testimonial h2{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 48px;
    text-align: center;
}

.card-testimonial{
    border-radius: 20px;
    padding: 32px 24px;
    background-color: #F3F5F8;
    
}

.star-rating{
    color: #FFAC4A;
}

.testimonial-text{
    font-size: 20px;
    font-weight: 400;
    color: #5C6077;
    margin-bottom: 48px;
    margin-top: 24px;
}

.testimonial-author{
    font-size: 16px;
    font-weight: 600;
    color: #5C6077;
    background-color: white;
    padding: 16px;
    border-radius: 20px;
    justify-content: center;
}

.testimonial-image img{
    height: 60px;
    width: 60px;
}

.testimonial-author{
    display: flex;
    align-items: center;
}

.cta{
    margin: 80px 0;
}

  .card-cta{
    padding: 80px;
    background-color: #0874FF;
    border-radius: 12px;
  }

  .cta-text{
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-bottom: 24px;
  }

.button-cta{
    font-size: 16px;
    font-weight: 700;
    color: #0773FF;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 12px 56px;
    border: none;
    transition: 0.3s; 
}

.footer{
    background-color: #2D2D2D;
    padding-top: 80px;
    padding-bottom:20px ;
}

.footer-left h3{
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
}

.footer-left p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-right h5{
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-right li{
    list-style: none;
}

.footer-right li a{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.footer-social a{
    margin-right: 16px;
    font-size: 24px;
    color: #ffffff;
}

footer hr {
    border-color: white;
  }

.footerbawah {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}